.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.timer {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.timer-display {
    font-size: 24px;
    margin-bottom: 20px;
}

.timer-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: center;
}

.timer-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.timer-button.stop {
    background-color: #bb5a54;
    color: white;
}

.timer-button.reset {
    background-color: #d5a964;
    color: white;
}

.timer-button.start,
.timer-button.resume {
    background-color: #5c9d5f;
    color: white;
}

.toggle-button {
    padding: 10px 20px;
    background-color: #72a9ef;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
